input:valid{
    border: 2px solid green;}

input:invalid{
    border: 2px solid red;}

input:placeholder-shown{
    border: 1px solid black;
}
#uploaded_photo{background: green; opacity:0.9; position:absolute;};