input:valid{
    border: 2px solid green;}

input:invalid{
    border: 2px solid red;}

input:placeholder-shown{
    border: 1px solid black;
}
#up_photo:before{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;};